@    using TranSQL.client.Services
@    using TranSQL.shared;
    using TranSQL.shared.models

@page "/"
@inject VehiculoService vehiculoService

<h3>Vehículos</h3>

@if (vehiculos == null)
{
    <p><em>Loading...</em></p>
}
else if (vehiculos.Count == 0)
{
    <p>No se encontraron vehículos.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Odómetro Inicial</th>
                <th>Odómetro Final</th>
                <th>Tipo Vehículo</th>
                <th>Estado Vehículo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehiculo in vehiculos)
            {
                <tr>
                    <td>@vehiculo.Placa</td>
                    <td>@vehiculo.Modelo</td>
                    <td>@vehiculo.OdometroInicial</td>
                    <td>@vehiculo.OdometroFinal</td>
                    <!-- Verificación si tipoVehiculo es nulo -->
                    <td>@(vehiculo.TipoVehiculo?.NombreTipoVehiculo ?? "Sin tipo")</td>
                    <!-- Verificación si estadoVehiculo es nulo -->
                    <td>@(vehiculo.EstadoVehiculo?.NombreEstadoVehiculo ?? "Sin estado")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Vehiculo>? vehiculos;

    protected override async Task OnInitializedAsync()
    {
        vehiculos = await vehiculoService.GetVehiculosAsync();
    }
}
